head
  meta(charset='utf-8')
  title User Dashboard
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')

body
  .container
    // Nagłówek z informacjami o użytkowniku
    .row
      .col-md-6
        h2= `Welcome, ${user.name}`
        p Balance: $#{user.balance}
      
      // Przycisk doładowania konta
      .col-md-6.text-right
        a.btn.btn-primary(href='/topup') Top Up Account
        a.btn.btn-success(href='/transaction') New Transaction
        a.btn.btn-danger(href='/logout') Log Out

    // Przycisk do pokazania szczegółów konta
    .row.mt-3
      .col-md-12
        button.btn.btn-info(id='showDetails') Show Account Details

    // Szczegóły konta, domyślnie ukryte
    .row.mt-3#accountDetails(style='display:none')
      .col-md-12
        h4 Account Details
        ul
          li Card Number: #{user.cardNumber}
          li CVV: #{user.cvv}
          li Card Holder: #{user.cardHolder}

// Lista transakcji
.row.mt-5
  .col-md-12
    h3 Transaction History
    if transactions.length
      table.table.table-striped
        thead
          tr
            th Amount
            th Description
            th Sender
            th Receiver
        tbody
          each transaction in transactions
            tr
              td= `$${transaction.amount}`
              td= transaction.text || 'No description'
              td= transaction.sender_name
              td= transaction.receiver_name
    else
      p No transactions found.


    // Skrypt do pokazania szczegółów po naciśnięciu przycisku
    script.
      document.getElementById('showDetails').onclick = function() {
        var details = document.getElementById('accountDetails');
        details.style.display = details.style.display === 'none' ? 'block' : 'none';
      }